@charset "UTF-8";
.loader {
  background: white;
  width: 99.9vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 10;
  animation: loader-anim 0.05s 3s linear forwards;
}
.loader .square__container {
  width: 200px;
  height: 120px;
  position: relative;
  /* Le carré du loader*/
}
.loader .square__container .square {
  width: 24px;
  height: 24px;
  background: #99E2D0;
  offset-path: path("M 100 60 C 150 0, 200 0, 200 60 C 200 120, 150 120, 100 60 C 50 0, 0 0, 0 60 C 0 120, 50 120, 100 60");
  animation: infini 1s cubic-bezier(0.8, 0.33, 0.34, 0.69) 4;
}

/* Animation du loader */
@keyframes loader-anim {
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes infini {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
.fa-solid {
  color: #7E7E7E;
}

.heart__noanim {
  opacity: 1;
  transition: opacity 200ms;
}
.heart__noanim:hover {
  opacity: 0;
}

.heart__anim {
  opacity: 0;
  transition: opacity 200ms;
}
.heart__anim:hover {
  opacity: 1;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #f3f3f3;
}

.contenu {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 4px;
}
header h2 {
  text-align: center;
  width: 75%;
}
header p {
  text-align: center;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 14px 0px 13px 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn {
  text-decoration: none;
  text-align: center;
  align-content: center;
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.loc {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.loc p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  margin: 0px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding-bottom: 17px;
}
.intro h2 {
  padding-top: 39px;
  margin: 0px;
  width: 275px;
}
.intro p {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px 16px;
  font-size: 18px;
  font-weight: 300;
}

.fonctionnement {
  background-color: white;
  height: 440px;
  display: flex;
  flex-direction: column;
}
.fonctionnement h2 {
  padding: 48px 80px 26px 20px;
  margin: 0px;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 0px 20px 48px 20px;
}
.steps .step__card {
  position: relative;
  width: 335px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin: 0px;
}
.steps .step__card .step__number {
  position: absolute;
  left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0px;
  z-index: 2;
}
.steps .step__card .step__card-content {
  width: calc(100% - 30px);
  height: 100%;
  position: relative;
  left: 20px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}
.steps .step__card .step__card-content i {
  position: relative;
  left: 30px;
}
.steps .step__card .step__card-content p {
  position: relative;
  left: 24px;
  width: 211px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.header_restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.header_restaurants .title-bar {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.header_restaurants .title-bar .back-btn {
  position: absolute;
  left: 23px;
  top: 24px;
  text-decoration: none;
  color: black;
  background-color: white;
}

.restaurants {
  align-items: center;
  gap: 16px;
  padding: 0px 0px 48px 0px;
}
.restaurants h2 {
  padding: 54px 80px 10px 20px;
  margin: 0px;
}
.restaurants .restaurants__cards {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px;
}
.restaurants .restaurants__cards a {
  width: 100%;
}
.restaurants .restaurants__cards .restaurant__card {
  position: relative;
  width: 100%;
  height: 251px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants__cards .restaurant__card .newLabel {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 2px;
  margin: 0px;
  z-index: 2;
}
.restaurants .restaurants__cards .restaurant__card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 70%;
  object-fit: cover;
}
.restaurants .restaurants__cards .restaurant__card .restaurant__card-content {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.restaurants .restaurants__cards .restaurant__card .restaurant__card-content img {
  position: absolute;
  right: 25px;
  width: 22px;
  height: 21px;
  border-radius: 0px;
}
.restaurants .restaurants__cards .restaurant__card .restaurant__card-content .restaurant__card-txt h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}
.restaurants .restaurants__cards .restaurant__card .restaurant__card-content .restaurant__card-txt p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 0px;
}

.restaurant__main {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}

.resto__titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 20px 0px 20px;
  margin: 0px;
}
.resto__titre h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  margin: 0px;
  padding-top: 16px;
}
.resto__titre img {
  width: 22px;
  height: 21px;
  margin-right: 12px;
  padding-top: 24px;
  position: absolute;
  right: 25px;
  width: 22px;
  height: 21px;
  border-radius: 0px;
}

.restaurant__image {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}
.restaurant__image img {
  width: 100%;
  object-fit: cover;
}

.resto__menu {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.resto__menu h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}
.resto__menu p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 0px;
}
.resto__menu .menu__partie {
  width: 40px;
  border-bottom: 3px #99E2D0 solid;
  margin: 20px 20px 0px 20px;
}
.resto__menu .menu__item {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: auto;
  height: auto;
  margin: 0px 15px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
  cursor: pointer;
  gap: 15px;
  animation: item__appear 300ms ease-out both;
  transform-origin: right;
}
.resto__menu .menu__item--1 {
  animation-delay: 100ms;
}
.resto__menu .menu__item--2 {
  animation-delay: 200ms;
}
.resto__menu .menu__item--3 {
  animation-delay: 300ms;
}
.resto__menu .menu__item--4 {
  animation-delay: 400ms;
}
.resto__menu .menu__item--5 {
  animation-delay: 500ms;
}
.resto__menu .menu__item--6 {
  animation-delay: 600ms;
}
.resto__menu .menu__item--7 {
  animation-delay: 700ms;
}
.resto__menu .menu__item--8 {
  animation-delay: 800ms;
}
.resto__menu .menu__item--9 {
  animation-delay: 900ms;
}
.resto__menu .menu__item:hover .selection {
  margin-right: 0px;
}
.resto__menu .menu__item .item__content {
  max-width: 100%;
  min-width: 10%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  padding: 15px;
}
.resto__menu .menu__item .item__content .item__name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resto__menu .menu__item .item__content .item__description {
  width: 75%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resto__menu .menu__item .item__price {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0px;
}
.resto__menu .menu__item .selection {
  height: 75px;
  width: 75px;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0px -75px 0px 0px;
  text-align: center;
  align-content: center;
  transition: margin-right 300ms cubic-bezier(0.42, 0.03, 0.57, 1.06);
  opacity: 1;
}
.resto__menu .menu__item .selection .fa-solid {
  color: white;
  font-size: 20px;
}

footer {
  height: 114px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding-top: 25px;
  padding-left: 22px;
  padding-bottom: 22px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin: 0px;
}
footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
footer a p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: 0px;
  white-space: nowrap;
}

@media (min-width: 920px) {
  .fonctionnement {
    height: 220px;
  }
  .steps {
    flex-direction: row;
  }
  .steps .step__card {
    flex-direction: row;
  }
  .restaurants h2 {
    padding: 54px 20px 10px 20px;
    margin: 0px;
  }
  .restaurants .restaurants__cards {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    height: 100%;
    row-gap: 50px;
    place-items: center;
    place-content: center;
    padding: 20px;
  }
  .restaurants .restaurants__cards .restaurant__card {
    width: 100%;
  }
  footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    padding-right: 25px;
  }
  footer h2 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0px;
    margin-right: 40px;
  }
  footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  footer div p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0px;
    white-space: nowrap;
  }
}
@keyframes item__appear {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

/*# sourceMappingURL=index-style.css.map */
