@import "animation";
@import "variables";
@import "loader";
@import "restaurant";

//Couleur icones fontawesome
.fa-solid {
  color: #7E7E7E;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: white;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//contenu de la page pour séparer du loader
.contenu {
  width: 100%;
  background-color: $primary-color;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap:4px;

  h2 {
    text-align: center;
    width: 75%;
  }

  p {
    text-align: center;
  }
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 14px 0px 13px 0px;
  box-shadow: 0px 2px 4px 0px #00000026;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn {
  text-decoration: none;
  text-align: center;
  align-content: center;
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  box-shadow: 0px 4px 10px 0px #00000040;
  background-color: #686868;
  background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  cursor: pointer;
  transition-duration: .25s;
  box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);

  &:hover {
    background-color: #fff;
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
  }
}

//Barre de selection de la localisation
.loc {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;

  p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    margin: 0px;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding-bottom: 17px;

  h2{
    padding-top: 39px;
    margin: 0px;
    width: 275px;
  }

  p{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px 16px;
    font-size: 18px;
    font-weight: 300;
  }
}

.fonctionnement {
  background-color: white;
  height: 440px;
  display: flex;
  flex-direction: column;
  
  h2 {
    padding: 48px 80px 26px 20px;
    margin: 0px;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 0px 20px 48px 20px;
  
  .step__card {
    position: relative;
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 0px;

    .step__number {
      position: absolute;
      left:8px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: white;
      text-align: center;
      align-content: center;
      justify-content: center;
      background-color: $purple;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin: 0px;
      z-index: 2;
    }

    .step__card-content {
      width: calc(100% - 30px);
      height: 100%;
      position: relative;
      left:20px;
      background-color: #F6F6F6;
      border-radius: 20px;
      box-shadow: 0px 4px 15px 0px #00000026;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:20px;
      z-index: 1;
      overflow: hidden;
      white-space: nowrap;

      i {
        position: relative;
        left: 30px;
      }

      p {
        position: relative;
        left: 24px;
        width: 211px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

.header_restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  .title-bar {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    h1{
      box-shadow: none;
    }

    .back-btn {
      position: absolute;
      left: 23px;
      top: 24px;
      text-decoration: none;
      color: black;
      background-color: white;
    }
  }
}

.restaurants {
  align-items: center;
  gap: 16px;
  padding: 0px 0px 48px 0px;

  h2 {
    padding: 54px 80px 10px 20px;
    margin: 0px;
  }

  .restaurants__cards {
    padding: 0px 30px 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 18px;

    a {
      width: 100%;
    }

    .restaurant__card {
      position:relative;
      width: 100%;
      height: 251px;
      background-color: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;

      //etiquette "Nouveau"
      .newLabel {
        position: absolute;
        right: 15px;
        top:15px;
        background-color: $green1;
        color: $green2;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        padding: 4px 8px;
        border-radius: 2px;
        margin: 0px;
        z-index: 2;
      }

      // image de la card
      img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 70%;
        object-fit: cover;
      }

      .restaurant__card-content {
        position: relative;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        // Coeur de favori
        img {
          position: absolute;
          right: 25px;
          width: 22px;
          height: 21px;
          border-radius: 0px;
        }

        .restaurant__card-txt {
          h3 {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-weight: 700;
            margin: 0px;
          }

          p {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            font-weight: 300;
            margin: 0px;
          }
        }
      }
    }
  }
}

footer {
  height: 114px;
  width: calc(100% - 47px);
  background-color: $footer-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 25px 22px 0px 25px;
  margin: 0px;

  h2 {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0px;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap:10px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;

    p {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: white;
      margin: 0px;
      white-space: nowrap;
    }
  }

  
}

@media (min-width: 920px) {

  .fonctionnement {
    height: 220px;
  }

  .steps {
  flex-direction: row;

    .step__card {
      flex-direction: row;
    }
  }

    .restaurants {

        h2 {
            padding: 54px 20px 10px 20px;
            margin: 0px;
        }

        .restaurants__cards {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            height: 100%;
            row-gap: 50px;
            place-items: center;
            place-content: center;

            .restaurant__card {
            width: 100%;
            }
        }
    }

    footer {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      gap: 100px;

      h2 {
        font-size: 18px;
        font-weight: 500;
        color: white;
        margin: 0px;
        margin-right: 40px;
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        gap:20px;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;

        p {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 500;
          color: white;
          margin: 0px;
          white-space: nowrap;
        }
      }
    }
}