//page restaurant

.restaurant__main {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  width: 100%;
  max-width: 1055px;
}

.resto__titre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  padding: 16px 20px 0px 20px;
  margin: 0px;

  h2 {
    font-family: "Shrikhand", serif;
    font-size: 28px;
    font-weight: 400;
    margin: 0px;
    padding-top: 16px;
  }

  div {
    position: relative;
    width: 22px;
    height: 21px;
    margin-right: 12px;
    padding-top: 24px;
    width: 22px;
    height: 21px;
    border-radius: 0px;
  }

  img {
    width: 22px;
    height: 21px;
    margin-right: 12px;
    padding-top: 24px;
    position: absolute;
    top: 0px;
    width: 22px;
    height: 21px;
    border-radius: 0px;
  }
}

.restaurant__image {
  max-height: 383px;
  width: 100%;
  object-fit: cover;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.resto__menu{
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin: 0px;
  }

  .menu__partie {
    width: 40px;
    border-bottom: 3px $green1 solid;
    margin: 20px 20px 0px 20px;
  }

  .menu__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: white;
    border-radius: 15px;
    width: auto;
    height: auto;
    margin: 0px 15px;
    box-shadow: 0px 4.01px 15.04px 0px #0000001A;
    overflow: hidden;
    cursor: pointer;
    gap: 15px;
    animation: item__appear 300ms ease-out both;
    transform-origin: right;

    @for $i from 1 through $num-items {
      &--#{$i} {
        animation-delay: 100ms * $i;
      }
    }

    &:hover .selection {
      margin-right: 0px;
    }

    .item__content {
      max-width: 100%;
      min-width: 10%;
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex:1;
      padding: 15px;

      .item__name {
        //width: 75%;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin: 0px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
      }

      .item__description {
        width: 75%;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 300;
        margin: 0px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
      }
    }

    .item__price {
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 700;
      margin: 0px;
      padding-bottom: 13.5px;
    }

    .selection {
      height: 75px;
      width: 75px;
      background-color: $green1;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      margin: 0px -75px 0px 0px;
      text-align: center;
      align-content: center;
      transition: margin-right 300ms cubic-bezier(.52,-0.33,.49,1.42);
      opacity: 1;

      .fa-solid {
        color: white;
        font-size: 20px;
      }
    }
  }

}