//Variables de couleurs
$primary-color: #f3f3f3;
$green1: #99E2D0;
$green2: #008766;
$blue1: #89C8FA;
$blue2: #003A68;
$purple: #9356DC;
$footer-color: #353535;

$num-items: 12; // Nombre total maxi d'items dans le menu pour l'animation